.one{
    width: 70%;
    height:100px;
    background-color: brown;
    display: inline-block;
    /* vertical-align works only for inline-block element */
    vertical-align: middle;
    /* In float display is treated as block */
    /* float: left; */
}
.two{
    width: 100px;
    height:100px;
    background-color: chartreuse;
    /* float: left; */
    display: inline-block;
}


/* clear not allow floated element on the left/right or both direction.Doesn't mess
with ordering
*/